{% extends 'main/layout.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
	<div class="features about_us_features">
		<h1>О нас</h1>
		<p class='about_title fw-bolder'>Частное учреждение — организация дополнительного профессионального образования «Ульяновский региональный центр охраны труда»</p>
		<p class='fw-bold'>Центр работает с 2003 года и предлагает широкий спектр услуг по охране труда и основными направлениями деятельности центра являются:</p>
		<ul class="activity">
			<li><i class="fa-solid fa-school"></i> Обучение</li>
			<li><i class="fa-solid fa-audio-description"></i> Аудит</li>
			<li><i class="fa-solid fa-person"></i> Консультации</li>
			<li><i class="fa-solid fa-file"></i> Разработка документации</li>
			<li><i class="fa-solid fa-headset"></i> Сопровождение организаций по охране труда</li>
			<li><i class="fa-solid fa-circle-exclamation"></i> Оценка профессиональных рисков</li>
			<li><i class="fa-solid fa-book"></i> Реализация литературы с нормативно-правовыми актами, журналов, плакатов, знаков</li>
			<li><i class="fa-solid fa-skull-crossbones"></i> Специальная оценка условий труда</li>
		</ul>
		<img src="{% static 'main/img/building.png' %}" class='building'>
		
		<div class="about_us-info">
			<span class="street"><i class="fa-solid fa-road"></i> 432017, г. Ульяновск, ул. Радищева, д.10 к.1</span>
			<span class="telephones"><i class="fa-solid fa-phone-volume"></i> тел. (8422) 27-18-44, 27-18-48, 8 917 608 84 94</span>
			<spaan class="email"><i class="fa-solid fa-envelope"></i> E- mail: 417909@mail.ru</span>
		</div>
		<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A42f3d215818d28d63a9c3ac2cf7cc5214eaab63007919a562bb936a61f2628b1&amp;width=700&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>

		
		<div class="license">
			<span>Основание деятельности: <br>
				1. Лицензия на право осуществления образовательной деятельности серия №2233 от 03.09.2014г.</span>
			<div class="license_img">
				<img src="{% static 'main/img/about_us/Лицензия-1.jpg' %}">
				<img src="{% static 'main/img/about_us/Лицензия-2.jpg' %}">
				<img src="{% static 'main/img/about_us/Лицензия-3.jpg' %}">
			</div>
		</div>
		<div class="registry">
			<span>Выписка из реестра лицензий по состоянию на «11» июля 2023 г.</span>
			<div class="registry_img">
				<img src="{% static 'main/img/about_us/Реестр-1.jpg' %}">
				<img src="{% static 'main/img/about_us/Реестр-2.jpg' %}">
				<img src="{% static 'main/img/about_us/Реестр-3.jpg' %}">
			</div>
		</div>

	</div>

<style>
	aside{
		height: 3108px !important;
	}
</style>
{% endblock %}
