{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}
{% load static %}



{% block content %}
	<div class="features personal_account">
		<h1>Личный кабинет</h1>

		<span>Чтобы присоединиться к занятию, нажмите эту кнопку.</span>
		<a href="https://417909.ktalk.ru/222222" class="btn btn-warning">ПРИСОЕДИНИТЬСЯ К ЗАНЯТИЮ</a>
		<a href="http://ulexpert.su/moodle/" class="btn btn-success">ДИСТАНЦИОННОЕ ОБУЧЕНИЕ</a>

		<span>Вы можете написать отзыв о нашей организации и поставить оценку на картах Яндекс и Google</span>

		<a href="https://clck.ru/3FNUwt" class="btn btn-info">НАПИСАТЬ ОТЗЫВ НА КАРТЕ ЯНДЕКС</a>
		<a href="https://g.page/r/Ccmu1Iri0eXBEB0/review" class="btn btn-info">НАПИСАТЬ ОТЗЫВ НА КАРТЕ GOOGLE</a>

		<a href="https://kontur.ru/talk#app" class="btn btn-primary" id='btn'>Установить Контур.Толк</a>


	</div>
{% endblock %}