{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}
{% load static %}



{% block content %}
	<div class="features literature">
		<h1>УСЛУГИ</h1>

		<p><b>Наличие аккредитации в качестве организации, оказывающей услуги в области охраны труда, в соответствии с Правилами аккредитации организаций, индивидуальных предпринимателей, оказывающих услуги в области охраны труда, и требований к организациям и индивидуальным предпринимателям, оказывающим услуги в области охраны труда, утвержденными постановлением Правительства РФ от 16.12.2021г. № 2334, внесением  сведений в реестр аккредитованных организаций Министерства труда и социальной защиты РФ, оказывающих услуги в области охраны труда под № 832 от 14.12.2010г. , позволяет организации оказывать помощь предприятиям в исполнении законодательных требований в области охраны труда.</b></p>

		<span><b>ОБУЧЕНИЕ</b> <br> <br></span>

		<iframe src="{% static 'main/img/price.pdf' %}" frameborder='0' width=90%; height=500px></iframe>

		<span><br><br><b>СОПРОВОЖДЕНИЕ ОРГАНИЗАЦИИ ПО ОХРАНЕ ТРУДА</b></span>

		<p>Предлагаем сопровождение Вашей организации по охране труда на постоянной основе.
		Также возможен разовый аудит, разработка необходимой документации по охране труда, внедрение системы управления охраной труда, предоставление консультаций по охране труда. <br> <br>

		<b>Аутсорсинг по охране труда </b> — выполнение функций специалиста по охране труда сторонней организацией на основании заключенного договора <br><br>
		<b> Аудит </b> — проведение оценки состояний условий и охраны труда на предприятии «Заказчика» на предмет соответствия нормативным актам РФ в области охраны труда</p>

		<p><b>Оценка профессиональных рисков, разработка мероприятий по их снижению</b> <br>
		Оценка и управление рисками — это неотъемлемая часть системы управления охраной труда (СУОТ), что делает процедуру обязательной для любого российского работодателя <br>
		<i>Главная цель оценки профессиональных рисков – создание более безопасной производственной среды для всех сотрудников предприятия. Поэтому важно регулярно оценивать, как сами риски, так и эффективность предпринятых мер по их снижению</i></p>

		<p>     Наши специалисты прошли обучение в Санкт-Петербургском органе по сертификации персонала имеют сертификат на соответствие требованиям, предъявленным к внутренним аудиторам в области системы менеджмента безопасности труда и охраны здоровья, прошли повышение квалификации по программе дополнительного профессионального образования «Управление профессиональными рисками в системе охраны труда», аттестованы надзорными органами, имеют опыт работы на производстве, выполняя обязанности специалистов по охране труда и проводят все необходимые консультации в этой области. <br> <br>

		Для расчета стоимости выполнения услуг высылайте карту контрагента и штатное расписание на
		e-mail:  <b> 417909@mail.ru </b><br>
		<b> Консультации по телефону: </b> 8 (8422) <b>27-18-44</b>, 8-917-608-87-35</p>


<style type="text/css">
	aside{
		height: 1908px;
	}
</style>
{% endblock %}